.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eaecef;
}

.login-wrapper {
  width: 480px;
}

.app-wrapper {
  margin: 0;
  padding: 0;
}
